$atom_name: 'text';

.#{$atom_name} {
    &__fwReg_fs16_gray500 {
        font-size: var(--fs-text-md);
        color: var(--gray-500);
        font-weight: var(--fw-regular);
    }

    &__error {
        color: var(--red-500);
        font-size: var(--fs-text-sm);
    }

    &__fwSb_fs16_primary {
        color: var(--primary-color);
        font-weight: var(--fw-semibold);
        font-size: var(--fs-text-md);
    }

    &__fwReg_fs20_lh30_gray500 {
        color: var(--gray-500);
        font-weight: var(--fw-regular);
        font-size: var(--fs-text-xl);
        line-height: var(--spacing-32);
    }
}
