.t_401 {
    width: 100%;
    max-width: 768px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    gap: var(--spacing-24);
    text-align: center;
}

.t_401 > button {
    width: 124px;
    margin-top: var(--spacing-48);
}

.t_401 > p {
    line-height: 30px;
}
