@import "../../../styles/util/breakpoints";

.header {
  width: 100%;
  max-width: 1280px;
  height: 72px;
  padding: var(--spacing-20) var(--spacing-16);
  @include centralizar;
  display: flex;
  justify-content: space-between;

  @include d(tablet) {
    height: 80px;
    padding: var(--spacing-24) var(--spacing-32);
  }
}
