.dialog {
    width: 100%;
    max-width: 400px;
    background-color: var(--white);
    border-radius: var(--b-radius-12);
    padding: var(--spacing-24);
}

.dialog__mask {
    background: var(--dialog-bg-mask);
    backdrop-filter: var(--blur-md);
}
