@import "../../../styles/util/_breakpoints.scss";

.footer {
  width: 100%;
  min-height: 88px;
  max-width: 1280px;
  padding: 0 var(--spacing-32);
  @include centralizar;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-32);

  @include d(tablet) {
    flex-direction: row;
    height: 88px;
    gap: 0;
  }

  &__name {
    & > p {
      display: flex;
      gap: var(--spacing-6);
      color: var(--gray-500);
    }
  }

  &__icons {
    display: flex;
    gap: var(--spacing-24);

    & i {
      color: var(--gray-500);
    }
  }
}
