.p-checkbox {
    &-box {
        & svg {
            width: 14px;
            height: 14px;
        }
    }

    & input {
        opacity: 0;
        position: absolute;
    }

    &-icon {
        background-color: var(--primary-color);
    }
}
