.title {
  color: var(--gray-900);
}

.title_h1 {
  font-size: var(--fs-display-lg);
}

.title_h2 {
  font-size: var(--fs-display-sm);
}

.title__fwSb_fs48_lh60_lspN2_gray900 {
  font-weight: var(--fw-semibold);
  font-size: var(--fs-display-lg);
  line-height: var(--spacing-64);
  letter-spacing: -2%;
  color: var(--gray-900);
}
