.logoutDialog {
    text-align: center;
    margin: 0 var(--spacing-20);
}

.logoutDialog__header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
}

.logoutDialog__footer {
    display: flex;
    gap: var(--spacing-12);
}

.logoutDialog__footer button {
    max-width: 50%;
    margin-top: var(--spacing-32);
}
