@import 'primereact/resources/themes/bootstrap4-light-purple/theme.css';
@import 'primeicons/primeicons.css';

@import './util/breakpoints';

:root {
    --primary-color: #7f56d9;
    --text-color: #344054;

    --gray-50: #f9fafb;
    --gray-100: #f2f4f7;
    --gray-900: #101828;
    --gray-500: #667085;
    --gray-700: #344054;
    --gray-300: #d0d5dd;
    --gray-900: #101828;

    --white: #ffffff;

    --gradient-primary-60050090-deg: linear-gradient(90deg, #7f56d9 0%, #9e77ed 100%);

    --gradient-primary-60050090-deg-box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

    --fs-text-sm: 14px;
    --fs-text-md: 16px;
    --fs-text-xl: 20px;

    --fs-lg: 24px;

    --fs-display-sm: 30px;
    --fs-display-md: 36px;
    --fs-display-lg: 48px;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;

    --spacing-4: 4px;
    --spacing-6: 6px;
    --spacing-8: 8px;
    --spacing-12: 12px;
    --spacing-16: 16px;
    --spacing-20: 20px;
    --spacing-24: 24px;
    --spacing-32: 32px;
    --spacing-40: 40px;
    --spacing-48: 48px;
    --spacing-64: 64px;
    --spacing-96: 96px;

    --dialog-bg-mask: rgba(52, 64, 84, 0.7);

    --blur-md: var(--blur-8);

    --b-radius-12: 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
}

@import './components/atoms/_avatar.scss';
@import './components/atoms/_button.scss';
@import './components/atoms/_checkbox.scss';
@import './components/atoms/_input.scss';

@import './components/organism/_blockUI.scss';
@import './components/organism/_dialog.scss';

@import './components/templates/_401.scss';

@import './components/pages/_welcome.scss';
@import './components/pages/_login.scss';
@import './components/pages/_unauthorized.scss';
