@import "../../../styles/util/breakpoints";

.t_welcome {
  width: 100%;
  max-width: $tablet;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  max-width: 768px;
}

.t_welcome__heading {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
  margin-bottom: var(--spacing-24);
}

.t_welcome > [id="a-text-description"] {
  margin-bottom: var(--spacing-40);
}
