.p-blockui-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.p-blockui-container i {
    font-size: var(--fs-display-lg);
    color: var(--primary-color);
}

.p-blockui-document {
    background-color: var(--dialog-bg-mask) !important;
    backdrop-filter: var(--blur-md) !important;
}
