.o_loginTitle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.o_loginTitle > h2 {
    margin: var(--spacing-24) var(--spacing-12);
    white-space: nowrap;
}