$atom_name: 'button';

.#{$atom_name} {
    width: auto;
    height: auto;
    border: none;
    background: transparent;
    color: var(--gray-700);

    &__gradient {
        font-weight: var(--fw-semibold);
        color: white;
        border: 1px solid var(--gradient-primary-60050090-deg);
        background: var(--gradient-primary-60050090-deg);
        box-shadow: var(--gradient-primary-60050090-deg-box-shadow);

        &:hover {
            opacity: 0.9;
        }
    }

    &__fwMd_fs16_colGray700_bgWhite {
        font-weight: var(--fw-medium);
        font-size: var(--fs-text-md);
        color: var(--gray-700);
        background-color: white;
        border: 1px solid var(--gray-100);
        box-shadow:
            0px 1px 2px 0px rgba(16, 24, 40, 0.06),
            0px 1px 3px 0px rgba(16, 24, 40, 0.1);

        &:hover {
            opacity: 0.9;
            border-color: var(--gradient-primary-60050090-deg);
        }

        @media screen and (min-width: 640px) {
            max-width: 82px;
        }
    }
}
