/*
    * PrimeReact: Checkbox Classnames:
        * p-checkbox: Container element
        * p-checkbox-box: Container of icon.
        * p-checkbox-icon: Icon element.
*/

.p-checkbox {
  &-box {
    & svg {
      width: 14px;
      height: 14px;
    }
  }

  & input {
    opacity: 0;
    position: absolute;
  }

  &-icon {
    background-color: var(--primary-color);
  }
}
