$mobile: 640;
$tablet: 768;
$desktop: 1024;
$desktop_up: 1280;

@mixin d($device) {
    @if ($device == mobile) {
        @media (max-width: ($mobile + px)) {
            @content;
        }
    } @else if($device == tablet) {
        @media (min-width: ($tablet + px)) {
            @content;
        }
    } @else if($device == desktop) {
        @media (min-width: ($desktop + px)) {
            @content;
        }
    } @else if($device == desktop_up) {
        @media (min-width: ($desktop_up + px)) {
            @content;
        }
    }
}

@mixin centralizar {
    margin-left: auto;
    margin-right: auto;
}
