@import '../../util/breakpoints';

.page-login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__form {
        width: 100%;
        max-width: 360px;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-32);

        padding: var(--spacing-64) var(--spacing-16);

        @include d(tablet) {
            padding: var(--spacing-96) 0;
        }

        &_title {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            & > h2 {
                margin: var(--spacing-24) var(--spacing-12);
                white-space: nowrap;
            }

            & > p {
                line-height: 24px;
            }
        }
    }

    & > [id='footer'] {
        margin-top: auto;
    }
}
