@import '../../util/breakpoints';

.page-unauthorized {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &__content {
        width: 100%;
        max-width: $tablet;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        max-width: 768px;

        padding: var(--spacing-64) var(--spacing-16);

        @include d(tablet) {
            padding: var(--spacing-96) 0;
        }

        & button {
            margin-top: var(--spacing-64);
            max-width: 140px;
        }
    }

    & > [id='footer'] {
        margin-top: auto;
    }
}
